html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
body{
	background-color: beige;
}
a{
	text-decoration: none;
}
h1{
	text-align: center;
	font-size: 2rem;
	padding: 10px;
	z-index: 1;
	margin: auto;
	background-color: #d9a60e;
}
h2{
	text-align: center;
	font-size: 1.4rem;
	padding: 10px;
	z-index: 1;
	margin: auto;
	background-color: #f4dcb8;
	width: 50%;
}
h1, h2{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p.link{
    text-align: center;
}
#Retroimg, #Fronteimg{
	width:100%;
}
div.Intro{
	text-align: center;
}
p, b{
	padding: 0px 15px;
	font-size: 1.1rem;
	font-family: sans-serif;
}
.barrafinale{
	text-align: center;
	margin: 0;
	padding: 5px;
	background-color: #d9a60e;
}
.testo{
	text-align: center;
	max-width: 800px;
	margin: auto;
}
.testolettera{
	font-size: 1.5rem;
	background-color: white;
	margin-top: -10px;
	line-height: 30px;
	font-family: serif;
}
